/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
    padding:0;margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #323232;
    font-size: 16px;
    line-height: 1.4;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow:1px 1px 1px 1px rgba(0,0,0,0.005);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.img-left {
    float: left;
    margin-right: 15px;
}

.img-right {
    float: right;    
    margin-left: 15px;
}

.img-center-full {
    display: block;
    margin: 0 auto;
}

p{margin:0;padding:0;}

.no-movil {display: block;}

ul {margin: 0px;padding: 0;}
.movil-only{display:none!important;}
/*AUTOCOMPLETE*/
.ui-autocomplete {
    max-height: 200px;
    max-width: 82%;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 300px;
    max-width: 82%;
  }
  .ui-menu .ui-menu-item {
    border-bottom: 1px solid #3c3c3c;
}
.ui-menu .ui-menu-item:last-child{
  border:none;
}
.ui-autocomplete a{
  text-decoration:none;
}
/*AUTOCOMPLETE*/

/*CARRUSEL TOUCH!!!*/
/* Slider */
.slick-slider{position: relative;display: block;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
/*Fin slider TOUCH*/

/*PAGINADOR*/

.paginador {
    margin: 0;
    padding: 0;
    width: 50%;
    display: inline-block;
    font-size:16px;
    color: #fff;
}
.paginador a.jp-current,
a.jp-current:hover {
    background: #848484;
    color:#fff;
    font-weight: bold;
}

.paginador a {
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
    color: #000;
    padding: 3px 8px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
}

.paginador a:hover {
    background-color: #000;
    color: #FFF;
    opacity: 0.5;
}

.paginador a.jp-previous { margin-right: 15px;border: 1px solid #fff;padding: 6px 29px;}
.paginador a.jp-next { margin-left: 15px;border: 1px solid #fff;padding: 3px 8px;}

.paginador a.jp-current,
a.jp-current:hover {
    color: #fff;
    background: #000!important;
}

.paginador a.jp-disabled,
a.jp-disabled:hover {
    color: rgba(255, 255, 255, 0.74);
    display: none;
}

.paginador a.jp-current,
a.jp-current:hover,
.paginador a.jp-disabled,
a.jp-disabled:hover {
    cursor: default;
    background: none;
}

.paginador span { margin: 0 5px; }

a.jp-first,a.jp-last {
    display: none;
}
/*PAGINADOR*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.txt-center{text-align:center!important;}
.txt-left{text-align:left!important;}
.txt-right{text-align:right!important;}
.txt-justify{text-align:justify!important;}
/*colores*/
.blanco{color:#fff!important;}
.negro{color:#000!important;}

.bg-blanco{background-color:#fff!important;}
.bg-negro{background-color:#000!important;}

/*posiciones*/
.absolute{position:absolute!important;}
.relative{position:relative!important;}
.static{position:static!important;}
.fixed{position:fixed!important;}

.a-right{right:0!important;}
.a-left{left:0!important;}
.a-bottom{bottom:0!important;}
.a-top{top:0!important;}

/*flotantes*/
.f-left{float:left!important;}
.f-right{float:right!important;}

/*cases*/
.txt-upper{text-transform:uppercase!important;}
.txt-lower{text-transform:lowercase!important;}
.txt-capitalize{text-transform:capitalize!important;}


/*bloques*/
.block{display:block!important;}
.inline{display:inline!important;}
.inline-block{display:inline-block!important;}
/*COMPORTAMIENTO TIPO TABLA*/
.table-box {height: 100%;width: 100%;display: table!important;}
.table-box._50{height: 60%;}
    .table-box .table-cell {display: table-cell;position: relative;}
    .table-box .table-cell.middle{vertical-align: middle;}
    .table-box .table-cell.bottom{vertical-align: bottom;}
    .table-box .table-cell.top{vertical-align: top;}

.contenedor-info {
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    overflow: hidden;
    padding: 3%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*RATIOS*/
.ratio-height {
    width: 100%;
    position: relative;
}

/*Ratios Utilizados*/
.ratio-height._170 {padding-bottom: 170%;}
.ratio-height._160_7 {padding-bottom: 160.7%;}
.ratio-height._150 {padding-bottom: 150%;}
.ratio-height._130 {padding-bottom: 130%;}
.ratio-height._118_8 {padding-bottom: 118.8%;}
.ratio-height._117 {padding-bottom: 117%;}
.ratio-height._114 {padding-bottom: 114%;}
.ratio-height._113_7 {padding-bottom: 113.7%;}
.ratio-height._111_7 {padding-bottom: 111.7%;}
.ratio-height._104_5 {padding-bottom: 104.5%;}
.ratio-height._104 {padding-bottom: 104%;}
.ratio-height._110_6 {padding-bottom: 110.6%;}
.ratio-height._110 {padding-bottom: 110%;}
.ratio-height._100 {padding-bottom: 100%;}
.ratio-height._90 {padding-bottom: 90%;}
.ratio-height._89 {padding-bottom: 89%;}
.ratio-height._88_5 {padding-bottom: 88.5%;}
.ratio-height._88_4 {padding-bottom: 88.4%;}
.ratio-height._80 {padding-bottom: 80%;}
.ratio-height._73 {padding-bottom: 73%;}
.ratio-height._70 {padding-bottom: 70%;}
.ratio-height._60 {padding-bottom: 60%;}
.ratio-height._53 {padding-bottom: 53%;}
.ratio-height._51_9 {padding-bottom: 51.9%;}
.ratio-height._50 {padding-bottom: 50%;}
.ratio-height._39 {padding-bottom: 39%;}
.ratio-height._38_2 {padding-bottom: 38.2%;}
.ratio-height._38 {padding-bottom: 38%;}
.ratio-height._35 {padding-bottom: 35%;}
.ratio-height._30 {padding-bottom: 30%;}
.ratio-height._25_5 {padding-bottom: 25.5%;}
.ratio-height._25 {padding-bottom: 25%;}
.ratio-height._20 {padding-bottom: 20%;}
.ratio-height._10 {padding-bottom: 10%;}
.ratio-height._00 {padding-bottom: 00%;}

.cont-ratio {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cont-ratio:after {
    display: block;
    content: '';
    clear: both;
}

/*COMPORTAMIENTO ELIPSIS*/
.elipsis{
    display: 
    -webkit-box!important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}
.elipsis._2{-webkit-line-clamp: 2!important;}
.elipsis._3{-webkit-line-clamp: 3!important;}
.elipsis._4{-webkit-line-clamp: 4!important;}

select::-ms-expand {
    display: none;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



header {
    position: relative;
    z-index: 2;
}
.contenido-centrado {
    width: 100%;
    max-width: 1025px;
    margin: 0 auto;
    position: relative;
}
.contenido-centrado.over {
    position:absolute;
    width: 1025px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform:translateX(-50%);
    height:100%;
}
.contenido-centrado:after{
    clear:both;
    content:'';
    display:block;
}
.contenido-full {
    width: 100%;
    position: relative;
}

.contenedor-all {
    overflow: hidden;
}


@media only screen and (max-width : 1400px){


}
@media only screen and (max-width : 1300px) {

}
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 1100px) {

}

@media only screen and (max-width : 1024px) {
 

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 800px) {

}


@media only screen and (max-width : 768px) {


}

/*@media only screen and (max-width : 480px) {*/
@media only screen and (max-width : 667px) {
    .paginador {width: 100%;display: block;}
    .captcha{width:100%;overflow: hidden;}
    .captcha .g-recaptcha{width:100%;transform:scale(0.9);-webkit-transform:scale(0.9);transform-origin:0 0;-webkit-transform-origin:0 0;}
    .captcha .g-recaptcha div{width: 100%!important;}

}

@media only screen and (max-width : 480px) {


}
@media only screen and (max-width : 360px){
    .captcha .g-recaptcha{transform: scale(0.8);-webkit-transform: scale(0.8);transform-origin: 0 0;-webkit-transform-origin: 50% 50%;}

}

@media only screen and (max-width : 320px) {

  .captcha .g-recaptcha{margin-left: -17px;}

    
}

