RewriteEngine On
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]

RewriteCond %{QUERY_STRING} .*script.* [NC,OR]

RewriteCond %{QUERY_STRING} .*iframe.* [NC,OR]

RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]

RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})

RewriteCond %{QUERY_STRING} ^.*(;|<|>|'|"|\)|%0A|%0D|%22|%27|%3C|%3E|%00).*(/\*|union|select|insert|cast|set|declare|drop|update|md5|benchmark).* [NC,OR]

RewriteRule .*  http://www.google.com [R=301,L]


RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)

RewriteRule .* – [F]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([\w-]+)$ index.php?page=$1 [L]
RewriteRule ^section/([\w-]+)/?$ index.php?section=$1  [L]
RewriteRule ^section/([\w-]+)/([\w-]+)?$ index.php?section=$1&contenido=$2 [L]


#RewriteRule ^section/([^/]*)$ /adminProgra/cbahmja/index.php?section=$1 [L]
#RewriteRule ^section/([^/]*)/([^/]*)$ /adminProgra/cbahmja/index.php?section=$1&contenido=$2 [L]


### IMPORTANTE VAYA DESPUES DE LAS DEMAS REGLAS
### MEJOR REDIRECT A 404 que ERROR DOCUMENT
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* section/404 [L]
